.frame {
  .center;
  cursor: pointer;
  width: 200px;
  height: 200px;
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
  background: #fff;
  color: #0f2a3a;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #0f2a3a;
  border-radius: 20px;
  position: absolute;
  transition: all 0.3s ease-out;
  &:hover, &:focus {
    padding: 30px;
  }
}
.animation {
  padding: 100px;
  .center;
  #webapp {
    z-index: 5;
  }
  #layer1 {
    z-index: 4;
    position: absolute;
    .center;
  }
  #react {
    z-index: 4;
  }
  #redux {
    z-index: 3;
  }
  #layer2 {
    z-index: 2;
    position: absolute;
    .center;
  }
  #nodejs {
    z-index: 2;
  }
  #laravel {
    z-index: 1;
  }
  #docker {
    z-index: 0;
  }
}
